* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}
a{
  text-decoration: none;
  color: #0499ff;
}
.nav{
  min-height:40px;
  background-color: #000;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}
