* {
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #575757;
  background-image: url('https://cdn.discordapp.com/attachments/771436352712998912/884064661195067422/Background.png');
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: exclusion;
}

a{
  text-decoration: none;
  color: #000000;
}

.nav{
  min-height: 0;
  background-color: #424242;
  padding-top: 15px;
  border: 2px solid #000000;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: fixed;
  width: 100%;
  transition: all 0.3s;
}
.nav:hover{
  min-height: 20px;
  border: 5px solid #000000;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #474747;
}
.menu{
  display: flex;
  justify-content: space-around;
  color: #000000;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.button {
  margin: 10px;
  font-weight: 600;
  font-size: 30px;
  padding: 10px;
  height: 70px;
  border-radius: 15px;
  border: 5px solid #000000;
  background-color: #424242;
  transition: all 0.3s;
}
.button:hover{
  border: 5px solid #424242;
  background-color: #000000;
  color: #424242;
}

.block{
  padding-top: 150px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block2{
  padding-top: 150px;
}
.textHover{
  color: #ffffff;
  transition: all 0.2s;
}
.textHover:hover{
  transform: scale(1.1);
}
.textHover:active{
  transform: scale(1);
}

.textHover2{
  display: flex;

  color: #000000;
  transition: all 0.2s;
}
.textHover2:hover{
  transform: scale(1.1);
}
.textHover2:active{
  transform: scale(1);
}

.imgHeader{
  position: relative;
  width: 100px;
  height: 100px;
}
.imgButton{
  width: 150px;
  height: 150px;
  padding: 0px;
  margin: 10px;
}
.imgHover{
  transition: all 0.2s;
}
.imgHover:hover{
  transform: scale(1.1);
}
.imgHover:active{
  transform: scale(1);
}

.list{
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

main{
  text-align: center;
}
footer{
  margin-top: 100%;
  text-align: center;
}
main img{
  height: 250px;
  width: 250px;
}

.tag{
  text-align: center;
  padding: 1px;
  color: #ffffff;
  background-color: #aec200;
  border: 5px solid #aec200;
  border-radius: 10px;
  margin: 10px;
  font-weight: bold;
}
